<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>


<a href="/">返回首页</a>
    <p><%= datas[0].title %></p>
    <p><%= datas[0].content %></p>

    <a href="/del/<%= datas[0].id %>">删除</a>
    <a href="/toUpdate/<%= datas[0].id %>">修改</a>




</body>
</html>